<div class="flex flex-col gap-8">
  <h2 class="text-3xl font-bold">Convites</h2>
  <div class="w-full flex justify-between">
    <div class="card flex justify-between">
      <input
        type="email"
        pInputText
        class="w-full"
        [(ngModel)]="search"
        placeholder="Pesquisar"
      />
    </div>
    <p-button
      label="Convidar"
      [loading]="loading"
      [rounded]="true"
      type="submit"
      size="large"
      styleClass="w-full"
      (click)="setIsVisible()"
    />
    <p-button
      label="Atualizar registro"
      [loading]="loading"
      [rounded]="true"
      type="submit"
      size="large"
      styleClass="w-full"
      (click)="updateOverdueInvite()"
    />
  </div>
  <p-table
    [value]="filteredInvites"
    [tableStyle]="{ 'min-width': '50rem' }"
    [metaKeySelection]="true"
  >
    <ng-template #header>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Enviado</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template #body let-invites>
      <tr>
        <td>{{ invites.id }}</td>
        <td>{{ invites.email }}</td>
        <td>{{ invites.created_at }}</td>
        <td>
          <p-tag [severity]="getSeverity(invites.statusId)">{{
            getStatus(invites.statusId)
          }}</p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    header="Convidar"
    [modal]="true"
    [dismissableMask]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      #formDir="ngForm"
      class="flex flex-col gap-4"
    >
      <div class="mt-4">
        <p-floatlabel class="w-full">
          <input
            type="text"
            pInputText
            class="w-full"
            formControlName="email"
          />
          <label for="email">Email</label>
        </p-floatlabel>
        <div
          *ngIf="email?.invalid && formDir.submitted"
          class="text-red-500 mt-2"
        >
          O email é obrigatório
        </div>
      </div>
    </form>

    <p-button
      label="Enviar"
      [loading]="loading"
      [rounded]="true"
      type="submit"
      size="large"
      styleClass="w-full mt-4"
      (click)="onSubmit()"
    />
  </p-dialog>
</div>
