<header
  class="flex justify-between items-center gap-2 max-w-[1320px] h-[150px] w-screen px-4 md:px-8"
>
  <h1 class="text-lg sm:text-4xl text-white font-bold flex flex-col">
    <span>TECHNOLOGY</span><span class="text sm:text-2xl">SOLUTIONS</span>
  </h1>
  <menu class="hidden sm:block">
    <ul class="flex gap-4 text-lg">
      <li class="hover:border-b-2 border-b-white pb-1 cursor-pointer">Vagas</li>
      <li class="hover:border-b-2 border-b-white pb-1 cursor-pointer">Sobre</li>
    </ul>
  </menu>
  <p class="block sm:hidden">Menu</p>
</header>
