<section
  class="grid grid-cols-3 gap-8 lg:grid gap-4 max-w-[1320px] lg:h-screen :h-screen w-screen py-8 px-4 lg:px-8 bg-emerald-400 pt-30"
>
  <div>
    <img
      class="rounded-2xl bg-gray-400 h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
      alt="Descrição da imagem"
      src="/online-analysis-teamwork.jpg"
    />
    <h2 class="text-2xl font-bold mt-2">
      Consultoria Estratégica em Transformação Digital
    </h2>
  </div>

  <div>
    <img
      class="rounded-2xl bg-gray-400 h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
      alt="Descrição da imagem"
      src="/dan-nelson-ah-HeguOe9k-unsplash.jpg"
    />
    <h2 class="text-2xl font-bold mt-2">
      Implementação de Sistemas de Segurança Cibernética
    </h2>
  </div>
  <div>
    <img
      class="rounded-2xl bg-gray-400 h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
      alt="Descrição da imagem"
      src="/hal-gatewood-tZc3vjPCk-Q-unsplash.jpg"
    />
    <h2 class="text-2xl font-bold mt-2">
      Desenvolvimento de Software Sob Medida
    </h2>
  </div>
</section>
