<section
  class="max-w-[1320px] lg:h-screen :h-screen w-screen py-8 px-4 lg:px-8 bg-emerald-400"
>
  <h2 class="text-5xl font-bold mb-6">Serviços</h2>
  <div class="grid md:grid-cols-3 gap-8 lg:grid">
    <div>
      <img
        class="w-full rounded-2xl bg-gray-400 h-[300px] md:h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
        alt="Descrição da imagem"
        src="/online-analysis-teamwork.jpg"
      />
      <h2 class="text-2xl font-bold mt-2">
        Consultoria Estratégica em Transformação Digital
      </h2>
    </div>

    <div>
      <img
        class="w-full rounded-2xl bg-gray-400 h-[300px] md:h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
        alt="Descrição da imagem"
        src="/dan-nelson-ah-HeguOe9k-unsplash.jpg"
      />
      <h2 class="text-2xl font-bold mt-2">
        Implementação de Sistemas de Segurança Cibernética
      </h2>
    </div>
    <div>
      <img
        class="w-full rounded-2xl bg-gray-400 h-[300px] md:h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
        alt="Descrição da imagem"
        src="/hal-gatewood-tZc3vjPCk-Q-unsplash.jpg"
      />
      <h2 class="text-2xl font-bold mt-2">
        Desenvolvimento de Software Sob Medida
      </h2>
    </div>
  </div>
</section>
