<section class="max-w-[1320px] w-screen py-8 px-4 lg:px-8">
  <h1 class="text-5xl font-bold mb-6">Vagas</h1>
  <p class="text-lg mb-6">
    Technology Solutions, acreditamos que o sucesso de nossa empresa depende da
    nossa equipe. Estamos sempre em busca de talentos inovadores, comprometidos
    e apaixonados por tecnologia para se juntar a nós e ajudar nossos clientes a
    superar desafios e alcançar seus objetivos. Se você é motivado por inovação
    e busca crescer em um ambiente dinâmico, confira as oportunidades abaixo!
  </p>
  <div class="flex flex-col gap-8">
    <div class="flex flex-col items-end gap-4 hover:cursor-pointer">
      <h2 class="text-4xl font-bold w-full">
        1. Desenvolvedor de Software Full Stack
      </h2>
      <p class="text-lg">
        Descrição da Vaga: Estamos em busca de um desenvolvedor Full Stack
        talentoso para se juntar à nossa equipe. O candidato ideal deve ter
        experiência em desenvolvimento de aplicações web e backend, ser
        criativo, ágil e disposto a trabalhar com tecnologias de ponta. Se você
        tem habilidades em front-end e back-end e gosta de desafios, essa vaga é
        para você!
      </p>
      <div class="flex gap-4">
        <div class="flex flex-col gap-4">
          <p>Responsabilidades:</p>
          <div class="text-lg flex flex-col gap-6">
            <li>Desenvolver e manter aplicações web e sistemas backend</li>
            <li>
              Criar interfaces de usuário responsivas e de fácil utilização
            </li>
            <li>
              Trabalhar de forma colaborativa com a equipe para garantir a
              integração de sistemas
            </li>
            <li>Informações de pagamento (quando aplicável)</li>
            <li>
              Participar de todas as etapas de desenvolvimento, desde o
              planejamento até a implementação e manutenção
            </li>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <p>Requisitos:</p>
          <div class="text-lg flex flex-col gap-6">
            <li>Desenvolver e manter aplicações web e sistemas backend</li>
            <li>
              Criar interfaces de usuário responsivas e de fácil utilização
            </li>
            <li>
              Trabalhar de forma colaborativa com a equipe para garantir a
              integração de sistemas
            </li>
            <li>Informações de pagamento (quando aplicável)</li>
            <li>
              Participar de todas as etapas de desenvolvimento, desde o
              planejamento até a implementação e manutenção
            </li>
          </div>
        </div>
      </div>
      <p-button label="Tenho Interesse" [rounded]="true" size="large" />
    </div>
    <div class="flex flex-col items-end gap-4 hover:cursor-pointer">
      <h2 class="text-4xl font-bold w-full">2. Gerente de Projetos de TI</h2>
      <p class="text-lg">
        Procuramos um Gerente de Projetos de TI experiente para liderar nossos
        projetos de desenvolvimento de software e implementação de sistemas. O
        candidato ideal será responsável por coordenar equipes, gerenciar
        cronogramas e orçamentos, e garantir que os projetos sejam entregues no
        prazo e com alta qualidade.
      </p>
      <div class="flex gap-4">
        <div class="flex flex-col gap-4">
          <p>Responsabilidades:</p>
          <div class="text-lg flex flex-col gap-6">
            <li>Desenvolver e manter aplicações web e sistemas backend</li>
            <li>
              Criar interfaces de usuário responsivas e de fácil utilização
            </li>
            <li>
              Trabalhar de forma colaborativa com a equipe para garantir a
              integração de sistemas
            </li>
            <li>Informações de pagamento (quando aplicável)</li>
            <li>
              Participar de todas as etapas de desenvolvimento, desde o
              planejamento até a implementação e manutenção
            </li>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <p>Requisitos:</p>
          <div class="text-lg flex flex-col gap-6">
            <li>Desenvolver e manter aplicações web e sistemas backend</li>
            <li>
              Criar interfaces de usuário responsivas e de fácil utilização
            </li>
            <li>
              Trabalhar de forma colaborativa com a equipe para garantir a
              integração de sistemas
            </li>
            <li>Informações de pagamento (quando aplicável)</li>
            <li>
              Participar de todas as etapas de desenvolvimento, desde o
              planejamento até a implementação e manutenção
            </li>
          </div>
        </div>
      </div>
      <p-button label="Tenho Interesse" [rounded]="true" size="large" />
    </div>
    <div class="flex flex-col items-end gap-4 hover:cursor-pointer">
      <h2 class="text-4xl font-bold w-full">3. Analista de Suporte Técnico</h2>
      <p class="text-lg">
        Na Na Technology Solutions, valorizamos a inovação, o aprendizado
        contínuo e a colaboração. Nossa equipe é composta por pessoas
        apaixonadas por tecnologia e que buscam sempre o melhor em cada projeto.
        Além disso, oferecemos um ambiente de trabalho dinâmico e oportunidades
        reais de crescimento profissional.
      </p>
      <div class="flex gap-4">
        <div class="flex flex-col gap-4">
          <p>Responsabilidades:</p>
          <div class="text-lg flex flex-col gap-6">
            <li>Desenvolver e manter aplicações web e sistemas backend</li>
            <li>
              Criar interfaces de usuário responsivas e de fácil utilização
            </li>
            <li>
              Trabalhar de forma colaborativa com a equipe para garantir a
              integração de sistemas
            </li>
            <li>Informações de pagamento (quando aplicável)</li>
            <li>
              Participar de todas as etapas de desenvolvimento, desde o
              planejamento até a implementação e manutenção
            </li>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <p>Requisitos:</p>
          <div class="text-lg flex flex-col gap-6">
            <li>Desenvolver e manter aplicações web e sistemas backend</li>
            <li>
              Criar interfaces de usuário responsivas e de fácil utilização
            </li>
            <li>
              Trabalhar de forma colaborativa com a equipe para garantir a
              integração de sistemas
            </li>
            <li>Informações de pagamento (quando aplicável)</li>
            <li>
              Participar de todas as etapas de desenvolvimento, desde o
              planejamento até a implementação e manutenção
            </li>
          </div>
        </div>
      </div>
      <p-button label="Tenho Interesse" [rounded]="true" size="large" />
    </div>
  </div>
</section>
