<section
  class="max-w-[1320px] lg:h-screen :h-screen w-screen py-8 px-4 lg:px-8 bg-black"
>
  <h2 class="text-5xl font-bold mb-6">Depoimentos</h2>
  <div class="grid md:grid-cols-2 items-center gap-8 lg:grid">
    <img
      class="w-full rounded-2xl bg-gray-400 h-[300px] md:h-[500px] object-cover"
      alt="Descrição da imagem"
      src="/online-analysis-teamwork.jpg"
    />
    <div>
      <h2 class="text-2xl mt-2 italic text-gray-400">
        Trabalhar com a equipe da Technology Solutions foi uma experiência
        incrível. Eles entenderam perfeitamente as necessidades do meu negócio e
        ofereceram soluções personalizadas que ajudaram a otimizar nossos
        processos e aumentar a eficiência. A abordagem inovadora e o suporte
        contínuo fizeram toda a diferença no nosso crescimento. Estou muito
        satisfeito com os resultados e recomendo a todos que buscam uma
        transformação digital de sucesso!
      </h2>
      <p>João Silva, CEO da XYZ Corp</p>
    </div>
  </div>
</section>
