<section class="max-w-[1320px] w-screen py-8 px-4 lg:px-8">
  <h2 class="text-5xl font-bold mb-6">Serviços</h2>
  <div class="flex flex-col items-start gap-8 lg:grid">
    <div class="flex flex-col xl:flex-row gap-4">
      <img
        class="w-full rounded-2xl bg-gray-400 h-[300px] md:h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
        alt="Descrição da imagem"
        src="/online-analysis-teamwork.jpg"
      />
      <div
        class="flex flex-col gap-4 justify-center bg-emerald-400 p-4 rounded-2xl"
      >
        <h2 class="text-2xl font-bold mt-2">
          Consultoria Estratégica em Transformação Digital
        </h2>
        <p class="text-lg">
          A Consultoria em Transformação Digital da Na Technology Solutions é a
          chave para levar sua empresa para o futuro. Analisamos o seu modelo de
          negócio e implementamos soluções tecnológicas personalizadas que
          aprimoram processos, otimizam recursos e garantem maior
          competitividade no mercado.
        </p>

        <p class="text-sm">
          A partir de R$ 10.000,00 (valor varia conforme o porte e complexidade
          da empresa).
        </p>
      </div>
    </div>

    <div class="flex flex-col xl:flex-row gap-4">
      <img
        class="w-full rounded-2xl bg-gray-400 h-[300px] md:h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
        alt="Descrição da imagem"
        src="/dan-nelson-ah-HeguOe9k-unsplash.jpg"
      />
      <div
        class="flex flex-col gap-4 justify-center bg-emerald-400 p-4 rounded-2xl"
      >
        <h2 class="text-2xl font-bold mt-2">
          Implementação de Sistemas de Segurança Cibernética
        </h2>
        <p class="text-lg">
          Oferecemos o desenvolvimento de soluções de software sob medida,
          feitas para atender às necessidades exclusivas do seu negócio. Desde
          aplicativos corporativos até sistemas complexos de gestão, nossa
          equipe de especialistas cria soluções robustas, escaláveis e seguras.
        </p>
        <p class="text-sm">
          A partir de R$ 15.000,00 (dependendo da complexidade e escopo do
          projeto).
        </p>
      </div>
    </div>
    <div class="flex flex-col xl:flex-row gap-4">
      <img
        class="w-full rounded-2xl bg-gray-400 h-[300px] md:h-[500px] object-cover transition-transform duration-300 hover:scale-105 cursor-pointer"
        alt="Descrição da imagem"
        src="/hal-gatewood-tZc3vjPCk-Q-unsplash.jpg"
      />
      <div
        class="flex flex-col gap-4 justify-center bg-emerald-400 p-4 rounded-2xl"
      >
        <h2 class="text-2xl font-bold mt-2">
          Desenvolvimento de Software Sob Medida
        </h2>
        <p class="text-lg">
          Com a implementação de sistemas corporativos da Na Technology
          Solutions, sua empresa vai garantir máxima eficiência operacional.
          Integramos soluções como ERP, CRM e ferramentas de automação que
          facilitam a gestão e aumentam a produtividade em todas as áreas do seu
          negócio.
        </p>
        <p class="text-sm">
          A partir de R$ 20.000,00 (valor sujeito a análise do tamanho da
          operação e requisitos específicos).
        </p>
      </div>
    </div>
  </div>
</section>
