<section class="max-w-[1320px] w-screen py-8 px-4 lg:px-8">
  <h2 class="text-5xl font-bold mb-6">Sobre</h2>
  <p class="text-lg mb-6">
    Technology Solutions, nossa missão é transformar o futuro das empresas por
    meio da inovação tecnológica. Somos uma equipe de especialistas apaixonados
    por criar soluções personalizadas que ajudam nossos clientes a crescer e
    superar os desafios do mercado atual.
  </p>
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-bold">Nossa visão</h2>
      <p class="text-lg">
        Ser a parceira preferencial de empresas que buscam impulsionar sua
        transformação digital, fornecendo soluções tecnológicas que maximizam o
        potencial de seus negócios e preparam as organizações para os desafios
        do amanhã.
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-bold">Nosso Compromisso</h2>
      <ul class="text-lg grid sm:grid-cols-2 gap-8">
        <li>
          Inovação: Buscamos sempre as tecnologias mais avançadas para criar
          soluções que se destacam pela inovação e relevância.
        </li>
        <li>
          Qualidade: Garantimos a entrega de serviços de alta qualidade, com
          soluções robustas e seguras.
        </li>
        <li>
          Foco no Cliente: Cada projeto é tratado de forma única, com um
          compromisso absoluto em atender às necessidades e objetivos dos nossos
          clientes.
        </li>
        <li>
          Transformação Digital: Acreditamos no poder da tecnologia para
          transformar processos e modelos de negócios, tornando as empresas mais
          ágeis, competitivas e preparadas para o futuro.
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-bold">Nossos Valores</h2>
      <ul class="text-lg grid sm:grid-cols-3 gap-4">
        <li>
          Integridade: Atuamos de forma ética, transparente e responsável em
          todas as interações com nossos clientes.
        </li>
        <li>
          Excelência: Estamos sempre em busca da melhoria contínua, aprimorando
          nossos processos e entregando resultados excepcionais.
        </li>
        <li>
          Colaboração: Trabalhamos em parceria com nossos clientes, ouvindo suas
          necessidades e trabalhando juntos para alcançar os melhores
          resultados.
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-bold">O Que Oferecemos</h2>
      <p class="text-lg">
        Oferecemos uma gama de soluções tecnológicas completas para empresas de
        diferentes segmentos. Entre nossos serviços, destacam-se:
      </p>
      <ul class="text-lg flex flex-col sm:flex-row gap-2">
        <li class="bg-emerald-400 p-2 text-sm rounded-xl">
          Consultoria em Transformação Digital
        </li>
        <li class="bg-emerald-400 p-2 text-sm rounded-xl">
          Desenvolvimento de Software Sob Medida
        </li>
        <li class="bg-emerald-400 p-2 text-sm rounded-xl">
          Implementação de Sistemas Corporativos (ERP, CRM, Automação)
        </li>
        <li class="bg-emerald-400 p-2 text-sm rounded-xl">
          Suporte e Manutenção Contínuos
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-bold">
        Por Que Escolher a Technology Solutions?
      </h2>
      <p class="text-lg">
        Nossa abordagem é personalizada e orientada para resultados. Trabalhamos
        com as tecnologias mais avançadas, garantindo que sua empresa esteja
        sempre à frente da concorrência. Com um time altamente qualificado,
        somos a parceira ideal para ajudar a sua empresa a alcançar novos
        patamares de sucesso.
      </p>
    </div>
  </div>
</section>
