<section class="max-w-[1320px] w-screen py-8 px-4 lg:px-8">
  <h2 class="text-5xl font-bold mb-6">Politica de Privacidade</h2>
  <p class="text-lg mb-6">
    Na Technology Solutions, a privacidade e a segurança dos dados dos nossos
    clientes são de extrema importância. Esta Política de Privacidade tem como
    objetivo explicar como coletamos, usamos, protegemos e compartilhamos as
    informações pessoais dos nossos usuários, garantindo que todos os dados
    tratados por nossa empresa sejam protegidos de acordo com as leis e
    regulamentações aplicáveis. Ao acessar nossos serviços ou fornecer suas
    informações pessoais, você concorda com os termos descritos nesta Política
    de Privacidade.
  </p>
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-bold">1. Informações que Coletamos</h2>
      <p class="text-lg">
        Coletamos informações pessoais identificáveis que podem incluir, mas não
        estão limitadas a:
      </p>
      <div class="text-lg flex flex-col gap-6">
        <li>Nome completo</li>
        <li>Endereço de e-mail</li>
        <li>Número de telefone</li>
        <li>Informações de pagamento (quando aplicável)</li>
        <li>Dados de navegação (cookies, logs de servidor, etc.)</li>
        <li>Informações sobre o uso de nossos serviços</li>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-bold">2. Como Usamos suas Informações</h2>
      <p class="text-lg">
        As informações que coletamos podem ser usadas para os seguintes fins:
      </p>
      <div class="text-lg flex flex-col gap-6">
        <li>
          Para fornecer nossos serviços, incluindo consultoria, desenvolvimento
          de software e implementação de sistemas.
        </li>
        <li>
          Para melhorar a experiência do usuário e personalizar os serviços
          conforme suas preferências.
        </li>
        <li>
          Para comunicar atualizações, ofertas e novidades sobre os nossos
          produtos e serviços.
        </li>
        <li>Para processar transações e fornecer suporte ao cliente.</li>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h2 class="text-4xl font-bold">3. Como Protegemos suas Informações</h2>
      <p class="text-lg">
        A segurança das suas informações pessoais é uma prioridade para nós.
        Implementamos medidas de segurança físicas, eletrônicas e
        administrativas para proteger seus dados contra acesso não autorizado,
        uso indevido, alteração ou divulgação.
      </p>
      <div class="text-lg flex flex-col gap-6">
        <li>Criptografia de dados sensíveis durante a transmissão.</li>
        <li>Armazenamento seguro de informações pessoais.</li>
        <li>
          Acesso restrito às informações apenas para funcionários autorizados.
        </li>
      </div>
    </div>
  </div>
</section>
