<footer
  class="flex flex-col lg:flex-row lg:justify-between gap-4 max-w-[1320px] h-screen lg:h-[300px] w-screen py-8 h-[300px] px-4 lg:px-8"
>
  <h1 class="text-lg sm:text-4xl text-white font-bold flex flex-col">
    <span>TECHNOLOGY</span><span class="text sm:text-2xl">SOLUTIONS</span>
  </h1>
  <div>
    <h2 class="text-lg mb-4">Contato</h2>
    <div class="flex flex-col gap-2 items-start">
      <p class="text-gray-500 hover:text-white cursor-pointer">
        +55 82 9999-9999
      </p>
      <p class="text-gray-500 hover:text-white cursor-pointer">
        solutionstechnology887gmail.com
      </p>
      <div class="flex gap-4">
        <i class="text-2xl fa-brands fa-facebook-f"></i>
        <i class="text-2xl fa-brands fa-instagram"></i>
        <i class="text-2xl fa-brands fa-whatsapp"></i>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-lg mb-4">Endereço</h2>
    <div class="flex flex-col gap-2 items-start">
      <p class="text-gray-500">Rua Ali Perto, 42 - Jaqueira, Maceió - AL</p>
      <p class="text-gray-500">57067-098</p>
    </div>
  </div>
  <menu>
    <h2 class="text-lg mb-4">Links rápidos</h2>
    <ul class="flex flex-col gap-2 items-start">
      <li
        [routerLink]="['/portifolio/sobre']"
        class="text-gray-500 hover:text-white cursor-pointer"
      >
        Sobre
      </li>
      <li
        [routerLink]="['/portifolio/servicos']"
        class="text-gray-500 hover:text-white cursor-pointer"
      >
        Serviços
      </li>
      <li
        [routerLink]="['/portifolio/contato']"
        class="text-gray-500 hover:text-white cursor-pointer"
      >
        Contato
      </li>
      <li
        [routerLink]="['/portifolio/privacidade']"
        class="text-gray-500 hover:text-white cursor-pointer"
      >
        Política de Privacidade
      </li>
    </ul>
  </menu>
</footer>
