<section
  class="flex flex-col gap-8 lg:grid lg:grid-cols-2 lg:items-center justify-between gap-4 max-w-[1320px] lg:h-screen :h-screen w-screen py-8 px-4 lg:px-8"
>
  <div class="flex flex-col gap-8">
    <h1 class="text-6xl font-bold">Technology Solutions</h1>
    <p class="text-xl">
      Na Technology Solutions, somos especialistas em criar soluções
      tecnológicas personalizadas que impulsionam o crescimento de empresas. Com
      uma abordagem inovadora e focada no cliente, oferecemos serviços de
      consultoria, desenvolvimento de software e implementação de sistemas que
      garantem eficiência, segurança e inovação para o seu negócio. Juntos,
      podemos enfrentar os desafios do futuro e transformar suas ideias em
      realidade.
    </p>
    <p-button label="Ver mais" [rounded]="true" size="large" />
  </div>
  <img
    class="bg-gray-400 w-full h-screen object-cover"
    alt="Descrição da imagem"
    src="/young-african-american-man-vr-glasses-neon-light-blue.jpg"
  />
</section>
